<%- include('partials/head') %>
<link rel="stylesheet" href="/css/altas.css">  
<title>Alta de Productos</title>
</head>
<body class="container">
  
  
  <%- include('partials/header') %>
  <main>
<div class="create-container">
  <h1>Alta de Productos</h1>

  <form action="../api/products" method="POST" enctype="multipart/form-data">
    <div>
      <label for="name">Nombre:</label>
      <input type="text" id="name" name="name" required>
    </div>

    <div>
      <label for="price">Precio:</label>
      <input type="number" step="0.01" id="price" name="price" required>
    </div>

    <div>
      <label for="description">Descripción:</label>
      <textarea id="description" name="description" rows="3" required></textarea>
    </div>

    <div>
      <label for="id_category">ID de Categoría:</label>
      <input type="number" id="id_category" name="id_category" required>
    </div>

    <div>
      <label for="stock">Stock:</label>
      <input type="number" id="stock" name="stock" min="0" required>
    </div>

    <div class="update-img-form">
      <label for="image">Imagen:</label>
      <input type="file" id="image" name="image" accept="image/*">
    </div>

    <div >
      <button type="submit">Crear producto</button>
    </div>
  </form>
  </div>
  </main>

  <%- include('partials/footer') %>
