<header>
    <nav>
        <div>
            <h3>Logo</h3>
        </div>
        <ul>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/altas">New Product</a></li>
            <li><a href="/modificaciones">Update Product</a></li>
            <li><a href="/users">Users</a></li>
        </ul>
    </nav>
</header>