<header>
    <nav>
        <div class="logo-container">
            <img class="logo" src="/assets/logo-min.png" alt="">
        </div>
        <ul>
            <li><a href="/admin/dashboard">Dashboard</a></li>
            <li><a href="/admin/altas">New Product</a></li>
            <li><a href="/admin/modificaciones">Update Product</a></li>
            <li><a href="/admin/usuarios">Users</a></li>
        </ul>
        <div class="admin-data">
            <p>Hola <%= adminData.email %>!</p>
            <button class="logoutBtn" onclick="logout()">Logout</button>
        </div>
    </nav>
</header>