<footer class="footer">
      <p>Mendoza-Mingorance Store &copy; 2025 - Sistema de Autoservicio</p>
      <div class="footer-info">
        <p>Desarrollado por:</p>
        <p>Facundo Mingorance</p>
        <p>Brayan Mendoza</p>
      </div>
    </footer>  
</body>
</html>