h1 {
    text-align: center;
}
.dashboard-container{
    max-width: 900px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: rgba(var(--card-color), 0.4);
    border-radius: 15px;
    box-shadow: var(--shadow-lg);
    backdrop-filter: blur(10px);
    position: relative;
    overflow: hidden;
}
.tabs-options {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.tabs-options button:hover {
    transform: translateY(-3px);
    box-shadow: var(--shadow-lg);
}

.tab-btn.activeSection {
    background-color: var(--bg-alter-color);
}

.tab-content {
    display: none;
}
.tab-content.activeSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.dashboard-list {
    width: 100%;
    border-collapse: collapse;
    margin: 1.5rem auto;
    background-color: rgba(var(--card-color), 0.5);
    box-shadow: var(--shadow);
    margin-top: 1rem;
}
.dashboard-list thead {
    font-size: 1.2rem;
}

.dashboard-list th {
    padding: 0.7rem;
    font-weight: 600;
    border-bottom: 1px solid var(--hover-primary);
    background-color: var(--bg-alter-color);
    transition: transform 0.4s ease;
}
.dashboard-list td {
    padding: 0.7rem;
    font-weight: 600;
    border-bottom: 1px solid var(--hover-primary);
    transition: transform 0.4s ease;
}

.dashboard-actions-btns {
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    cursor: pointer;
    gap: 0.3rem;
}

.dashboard-actions-btns button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    object-fit: contain;
    width: 2rem;
}

.dashboard-actions-btns button:hover {
    transform: translateY(-3px);
}

.product-image-container {
    width: 100px;
    height: 100px;
}

.product-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--card-color), 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.modal-content {
    background-color: var(--bg-color);
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
}

.modal-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    gap: 20px;
}

.modal-buttons button,
.pagination-btn,
.btn-filter,
.tabs-options button {
    position: relative;
    border: none;
    background-color: rgba(var(--card-color), 0.78);
    font-size: 1rem;
    font-weight: 600;
    border-radius: 4px;
    padding: 0.3rem 0.5rem;
    color: var(--text-color);
    box-shadow: var(--shadow);
    transition: transform 0.5s, box-shadow 0.5s;
    cursor: pointer;
    overflow: hidden;
}
.modal-buttons button:hover {
    transform: translateY(-3px);
    box-shadow: var(--shadow-lg);
}

.hidden {
    display: none;
}

#cancelActivate::before,
#cancelDelete::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, rgba(218, 85, 85, 0.76), transparent);
    transition: left 0.5s;
}

#cancelActivate:hover::before,
#cancelDelete:hover::before {
    left: 100%;
}

#confirmActivate::before,
#confirmDelete::before,
.pagination-btn::before,
.btn-filter::before,
.tabs-options button::before,
.modal-buttons button[type='submit']::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, rgba(33, 239, 40, 0.5), transparent);
    transition: left 0.5s;
}

#confirmActivate:hover::before,
#confirmDelete:hover::before,
.btn-filter:hover::before,
.tabs-options button:hover::before,
.pagination-btn:hover::before,
.modal-buttons button[type='submit']:hover::before {
    left: 100%;
}

.dashboard-list th,
.dashboard-list td {
    text-align: center;
    vertical-align: middle;
}

.pagination {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.products-filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
    background: rgba(var(--card-color), 0.4);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: var(--shadow);
    transition: all 0.3s ease;
}

.products-form-filters {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.products-filters-inputs {
    display: flex;
    width: 80%;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}


.products-filters-bts {
    display: flex;
    width: 100%;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.reset-filters-btn{
 background-color: rgba(255, 0, 0, 0.44);
  color: white;
  padding: 0.3rem 0.5rem;
  box-shadow: var(--shadow);
  text-decoration: none;
  border-radius: 5px;
  margin-left: 1rem;
  font-weight: bold;
  transition: background 0.2s ease-in-out;
}
.reset-filters-btn:hover {
  background-color: var(--error-color);
}
