<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Listado de Productos</title>
</head>
<body>
  <h1>Productos</h1>

  <% if (products.length > 0) { %>
    <ul>
      <% products.forEach(product => { %>
        <li>
          <strong><%= product.name %></strong><br>
          Precio: $<%= product.price %><br>
        </li>
        <hr>
      <% }) %>
    </ul>
  <% } else { %>
    <p>No se encontraron productos.</p>
  <% } %>
</body>
</html>
